.about-con{
    width: 60%;
    margin: 0 auto;
    height: 300px;
}
.avatar-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-title{
    margin: 20px 0;
    text-align: center;
}

.contact-us-con{
    height:150px ;
}


@media screen  and (max-width: 600px)  {
    .avatar-desc{
        height: 90% !important;
    }

    .contact-us-con{
        height:100% ;
    }
}

@media screen  and (max-width: 600px)  {
    .about-con{
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    .avatar{
        width: 100% !important;
    }

    .avatar-desc{
        height:  80px !important;
    }
}
