.description{
    width: 60%;
    margin: 0 auto;
}


.desc-text{
    text-indent: 2em;
    text-align: justify;
    font-size: 1.2em;
}

.desc-time{
    margin-top: 10px;
    text-align: right;
    /*font-size: 0.8em;*/
    color: #999999;
}

.contact-button{
    width: 240px;
    height: 45px;
    background-color: #25D366;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px auto;
    display: block;
}

.contact-button:hover{
    background-color: #1DAF5A;
    cursor: pointer;
    transition: 0.3s;
}